Client/Service References/Services/RosService.Services.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RosService.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RosService.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfБанкСведения">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="БанкСведения" nillable="true" type="tns:БанкСведения" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfБанкСведения" nillable="true" type="tns:ArrayOfБанкСведения" />
  <xs:complexType name="БанкСведения">
    <xs:sequence>
      <xs:element minOccurs="0" name="Адрес" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="БИК" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Город" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="КорСчет" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Название" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="БанкСведения" nillable="true" type="tns:БанкСведения" />
  <xs:complexType name="ArrayOfСообщенияПользователя">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="СообщенияПользователя" nillable="true" type="tns:СообщенияПользователя" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfСообщенияПользователя" nillable="true" type="tns:ArrayOfСообщенияПользователя" />
  <xs:complexType name="СообщенияПользователя">
    <xs:sequence>
      <xs:element minOccurs="0" name="id_node" type="xs:decimal" />
      <xs:element minOccurs="0" name="Количество" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="СообщенияПользователя" nillable="true" type="tns:СообщенияПользователя" />
  <xs:complexType name="ArrayOfСведенияПользователя">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="СведенияПользователя" nillable="true" type="tns:СведенияПользователя" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfСведенияПользователя" nillable="true" type="tns:ArrayOfСведенияПользователя" />
  <xs:complexType name="СведенияПользователя">
    <xs:sequence>
      <xs:element minOccurs="0" name="id_node" type="xs:decimal" />
      <xs:element minOccurs="0" name="ВСети" type="xs:boolean" />
      <xs:element minOccurs="0" name="Группа" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="НазваниеОбъекта" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="СсылкаНаАватар" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="СведенияПользователя" nillable="true" type="tns:СведенияПользователя" />
  <xs:complexType name="ArrayOfЗадачиПользователя">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ЗадачиПользователя" nillable="true" type="tns:ЗадачиПользователя" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfЗадачиПользователя" nillable="true" type="tns:ArrayOfЗадачиПользователя" />
  <xs:complexType name="ЗадачиПользователя">
    <xs:sequence>
      <xs:element minOccurs="0" name="id_node" type="xs:decimal" />
      <xs:element minOccurs="0" name="Количество" type="xs:int" />
      <xs:element minOccurs="0" name="Новые" type="xs:int" />
      <xs:element minOccurs="0" name="Срочные" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ЗадачиПользователя" nillable="true" type="tns:ЗадачиПользователя" />
</xs:schema>